.App {
  text-align: left;
  padding: 2vh;
  border:2px brown;
  display: flex;
}

.Todo-module {
  flex: 1;
  border: solid black;
}

.Todo-heading {
  background: yellow;
  margin-bottom: 0px;
  text-align: center;
}

.TodoList {
  background-color: yellowgreen;
  border: 5px solid darkgray;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2px;
}

.Todont-module {
  flex: 1;
  border: solid black;
}

.Todont-heading {
  background-color: tomato;
  margin-bottom: 0px;
  text-align: center;
}

.TodontList {
  background-color: red;
  margin-top: 0px;
}

/*Trying to get form input and btn centered */
form {
  display: flex;
  background: chocolate;
  align-content: space-around;
}

button {
  font-family: monospace;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
