@media screen 
  and (max-width: 600px) {
    .App {
      flex-direction: column;
    }
  }

.App {
  text-align: left;
  padding: 2vh 2vw;
  margin: 1vh 1vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  background-color: rgba(128, 128, 128, 0.212);
}

.Todo-module {
  flex: 1;
  border: solid 1px black;
  border-radius: 20px;
  margin: 1vh 1vw;
  padding: 0px;
}

.Todo-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.TodoList {
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2px;
  text-align:center;
  list-style-position: inside;
  list-style-type:circle
}

.Todont-module {
  flex: 1;
  border: 1px solid black;
  border-radius: 20px;
  margin: 1vh 1vw;
}

.Todont-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.TodontList {
  background-color: rgba(255, 99, 71, 0.87);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2px;
  text-align:center;
  list-style-position: inside;
  list-style-type:circle
}

/*Trying to get form input and btn centered */

form {
  display: flex;
  background: chocolate;
  border: 1px solid black;
  border-radius: 0 0 20px 20px;
  justify-content:center;
}

button {
  font-family: monospace;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
